* {
    box-sizing: border-box;
    padding: 0.3rem;
    margin: 0;
}

:root {
    font-family: system-ui;
    font-size: 16px;
    color: white;
    line-height: 1.5;
}

body {
    background-color: darkslategray;
}

.container {
    width: 90vw;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
}

.card {
    width: 300px;
    background-color: rgb(84, 48, 4);
    border: 1px solid;
    padding: 1rem;
}

.card-title {
    font-size: 1.2rem;
    background: rgb(0 0 0 / 0.4);
    color: white;
}

.author {
    font-weight: 777;
}

.pages,
.read {
    font-size: 0.9rem;
}

.read[data-status="true"] {
    background-color: rgb(0 120 0 / 0.5);
}
.read[data-status="false"] {
    background-color: rgb(120 0 0 / 0.5);
}
